section.section-3
    .container
      .section-3__wrap
        .section-3__img-main
          img(src="/project01/assets/images/horizontal-shot-adult-girl-jeans-overalls-kissing-cute-puppy-while-raising-it-air-young-girl-being-love-with-her-dog-clothed-trendy-jumper-display-affection 3.png" alt="")
        .section-3__content
          h1.section-3__title
            .section-3__title-main Thêm Một Bạn 
            .section-3__title-sub Thêm ngàn niềm vui! 
          .section-3__desc
            |Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
          .section-3__buttons
            a(class="outline-button button" href="#") Giới Thiệu
              i(class="fa-regular fa-circle-play")
            a(class="solid-button button" href="#") Khám Phá Ngay